.Track {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.track-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  flex-shrink: 0;
  object-fit: cover;
}

.track-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}

.track-info h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-info p {
  margin: 0;
  font-size: 14px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Track button {
  margin-left: auto;
}

@media (max-width: 600px) {
  .Track {
    flex-direction: column;
    align-items: flex-start;
  }

  .track-image {
    width: 40px;
    height: 40px;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .track-info {
    width: 100%;
  }

  .Track button {
    align-self: flex-end;
    margin-left: 0;
    margin-top: 5px;
  }

}