.Track {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.track-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  flex-shrink: 0;
}

.track-info {
  flex: 1;
}

.track-info h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.track-info p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.Track button {
  margin-left: auto;
}