body {
  font-family: Arial, sans-serif;
  background-color: #14041d;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App-content {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.SearchResults, .Playlist {
  background-color: #070224;
  padding: 1rem;
  border-radius: 8px;
  width: 40%;
}

button {
  background-color: #e0dd1c;
  color: rgb(0, 0, 0);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

button:hover {
  background-color: #bbb01b;
  transform: scale(1.05);
}

.SearchResults, .Playlist {
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}
